{% extends 'inventario/base.html' %}
{% block contenido %}
<div class="top">
  <h2>Ubicaciones</h2>
  <a class="btn" href="{% url 'inventario:ubicacion_crear' %}">+ Nueva ubicación</a>
</div>
{% if not ubicaciones %}
  <p>No hay ubicaciones todavía.</p>
{% else %}
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Artículos</th>
      <th>Opciones</th>
    </tr>
  </thead>

  <tbody>
    {% for u in ubicaciones %}
    <tr>
      <td>{{ u.nombre }}</td>
      <td>{{ u.descripcion|default:"—" }}</td>
      <td>{{ u.articulos.count }}</td>

      <td class="actions">
        <a href="{% url 'inventario:ubicacion_detalle' u.pk %}">
          Ver
        </a>

        <a href="{% url 'inventario:ubicacion_editar' u.pk %}">
          Editar
        </a>

        <a href="{% url 'inventario:ubicacion_eliminar' u.pk %}">
          Eliminar
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}
